<div id="menu-prin">
    <ul class="nav nav-stacked" id="accordion1">
        <li class="panel">
            <a href="#"><i class="fa fa-lg fa-fw fa-home"></i> Inicio</a>
        </li>
        <li class="panel active">
            <a data-toggle="collapse" data-parent="#accordion1" href="#ini-generabase" aria-expanded="false"><i class="fa fa-lg fa-fw fa-cube"></i> Generar solicitud <b><em class="fa mas-menos"></em></b></a>
            <ul id="ini-generabase" class="collapse in" aria-expanded="false">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Recurso</a></li>
                <li class="active"><a href="~/Solicitud">Solicitud</a></li>
                <li class="active"><a href="~/AprobarSolicitud">Aprobar Solicitud</a></li>
            </ul>
        </li>
        <li class="panel">
            <a href="#"><i class="fa fa-lg fa-fw fa-cubes"></i> Mis Solicitudes</a>
        </li>

        <li class="panel">
            <a data-toggle="collapse" data-parent="#accordion1" href="#ini-generabase" aria-expanded="false"><i class="fa fa-lg fa-fw fa-cube"></i> Gestión de Exám. Lab. <b><em class="fa mas-menos"></em></b></a>
            <ul id="ini-generabase" class="collapse" aria-expanded="false">
                <li class="active"><a href="#">Consulta Cart. Atención</a></li>
                <li><a href="#">Caso Uso 2</a></li>
                <li><a href="#">Caso Uso 3</a></li>
            </ul>
        </li>
        <li class="panel">
            <a href="#"><i class="fa fa-lg fa-fw fa-cubes"></i> Administración de Chips</a>
        </li>

        <li class="panel">
            <a href="#"><i class="fa fa-lg fa-fw fa-sign-out"></i> Salir</a>
        </li>
    </ul>
</div>